* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color:beige;
}

.card {
    width: 700px;
    background-color: #ccc;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
}

/* Scroll Bar */
::-webkit-scrollbar {
    background-color:lightblue;
    width: 10px;
    border: 2px dashed white;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#21D4FD,#B721FF);
    border-radius: 100px;
}